html {
  background-color: Azure;
}

body {
  margin: auto;
  margin-top: 1%;
  width: 80%;
  background-color: #b3dbff;
  padding: 1%;
  padding-bottom: 4%;
}

input, textarea {
  border: none;
  outline: none;
  background-color: AliceBlue;
}
/*
 input[type="checkbox"] {
  height: 20px;
  width: 20px;
  appearance: none;
  background-color: AliceBlue;
  cursor: pointer;
} */

/*input[type="checkbox"]:checked + label::before {
  background-color: AliceBlue;
  /* content: '\2713';
  font-size: 75%;
  color: black;
  position: absolute;
  left: 1.3rem;
  top: 0.01rem;
} */

#align_text_box {
  float: left;
  margin-right: 1em;
}

 #continueButton {
  cursor: pointer;
  font-size: 150%;
  float: right;
  margin-right: 3%;
}

label {
	padding-right: 1em;
}

.aligningFirst {
	width: 10em;
	display: inline-block;
	text-align: right;
}
.aligningSecond {
	width: 13em;
	display: inline-block;
	text-align: right;
}

#add_new_row_h2 {
	margin-bottom: .5em;
}

#add_btn {
	margin-top: .5em;
	background-color: #56E01C;
	color: white;
	font-size: 120%;
	padding-left: 2em;
	padding-right: 2em;
  margin-left: 8em;
}

.aDeleteButton {
	margin-top: .45em;
	background-color: #FF5B38;
	color: white;
	cursor: pointer;
	font-size: 120%;
}

#export_csv_btn {
	margin-bottom: .3em;
	margin-top: .3em;
}

.pageTwoButton {
  cursor: pointer; 
}

h1 {
  text-shadow: .025em .05em blue;
  border: .1em dotted blue;
  font-family: Comic Sans MS;
  text-align: center;
  padding-bottom: .15em;
}

form span[title] {
  margin-left: -1em;
}

#tableOfButtons {
  border-collapse: collapse;
  width: 120%;
}

#sev2 {
  margin-left: 80em;
}
#sev1 {
  margin-left: 160em;
}

iframe{
  margin: auto;
  width: 100%;
  height: auto;
}