html {
  background-color: Azure;
}

body {
  margin: auto;
  margin-top: 1%;
  width: 80%;
  background-color: #b3dbff;
  padding: 1%;
  padding-bottom: 4%;
}

input, textarea {
  border: none;
  outline: none;
  background-color: AliceBlue;
}

input[type="checkbox"] {
  height: 20px;
  width: 20px;
  appearance: none;
  background-color: AliceBlue;
  cursor: pointer;
}

input[type="checkbox"]:checked + label::before {
  background-color: AliceBlue;
  content: '\2713';
  font-size: 75%;
  color: black;
  position: absolute;
  left: 1.3rem;
  top: 0.01rem;
}

#align_text_box {
  float: left;
  margin-right: 1em;
}

 #continueButton {
  font-size: 150%;
  float: right;
  margin-right: 3%;
}
